/* Avenir */
@font-face {
    font-family: 'avenir_book';
    src: url('fonts/avenir/avenirltstd-book-webfont.eot');
    src: url('fonts/avenir/avenirltstd-book-webfont.eot?#iefix') format('eot'),
         url('fonts/avenir/avenirltstd-book-webfont.woff') format('woff'),
         url('fonts/avenir/avenirltstd-book-webfont.ttf') format('truetype'),
         url('fonts/avenir/avenirltstd-book-webfont.svg#webfontc0f9s3aJ') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'avenir_black';
    src: url('fonts/avenir/avenirltstd-black-webfont.eot');
    src: url('fonts/avenir/avenirltstd-black-webfont.eot?#iefix') format('eot'),
         url('fonts/avenir/avenirltstd-black-webfont.woff') format('woff'),
         url('fonts/avenir/avenirltstd-black-webfont.ttf') format('truetype'),
         url('fonts/avenir/avenirltstd-black-webfont.svg#webfontc0f9s3aJ') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'avenir_heavy';
    src: url('fonts/avenir/avenirltstd-heavy-webfont.eot');
    src: url('fonts/avenir/avenirltstd-heavy-webfont.eot?#iefix') format('eot'),
         url('fonts/avenir/avenirltstd-heavy-webfont.woff') format('woff'),
         url('fonts/avenir/avenirltstd-heavy-webfont.ttf') format('truetype'),
         url('fonts/avenir/avenirltstd-heavy-webfont.svg#webfontc0f9s3aJ') format('svg');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'AdelleThinItalic';
    src: url('fonts/adelle/adelle_thinitalic-webfont.eot');
    src: url('fonts/adelle/adelle_thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adelle/adelle_thinitalic-webfont.woff') format('woff'),
         url('fonts/adelle/adelle_thinitalic-webfont.ttf') format('truetype'),
         url('fonts/adelle/adelle_thinitalic-webfont.svg#AdelleThinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdelleThin';
    src: url('fonts/adelle/adelle_thin-webfont.eot');
    src: url('fonts/adelle/adelle_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adelle/adelle_thin-webfont.woff') format('woff'),
         url('fonts/adelle/adelle_thin-webfont.ttf') format('truetype'),
         url('fonts/adelle/adelle_thin-webfont.svg#AdelleThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdelleSemiBoldItalic';
    src: url('fonts/adelle/adelle_semibolditalic-webfont.eot');
    src: url('fonts/adelle/adelle_semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adelle/adelle_semibolditalic-webfont.woff') format('woff'),
         url('fonts/adelle/adelle_semibolditalic-webfont.ttf') format('truetype'),
         url('fonts/adelle/adelle_semibolditalic-webfont.svg#AdelleSemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdelleSemiBold';
    src: url('fonts/adelle/adelle_semibold-webfont.eot');
    src: url('fonts/adelle/adelle_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adelle/adelle_semibold-webfont.woff') format('woff'),
         url('fonts/adelle/adelle_semibold-webfont.ttf') format('truetype'),
         url('fonts/adelle/adelle_semibold-webfont.svg#AdelleSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdelleRegular';
    src: url('fonts/adelle/adelle_regular-webfont.eot');
    src: url('fonts/adelle/adelle_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adelle/adelle_regular-webfont.woff') format('woff'),
         url('fonts/adelle/adelle_regular-webfont.ttf') format('truetype'),
         url('fonts/adelle/adelle_regular-webfont.svg#AdelleRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdelleLightItalic';
    src: url('fonts/adelle/adelle_lightitalic-webfont.eot');
    src: url('fonts/adelle/adelle_lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adelle/adelle_lightitalic-webfont.woff') format('woff'),
         url('fonts/adelle/adelle_lightitalic-webfont.ttf') format('truetype'),
         url('fonts/adelle/adelle_lightitalic-webfont.svg#AdelleLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdelleLight';
    src: url('fonts/adelle/adelle_light-webfont.eot');
    src: url('fonts/adelle/adelle_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adelle/adelle_light-webfont.woff') format('woff'),
         url('fonts/adelle/adelle_light-webfont.ttf') format('truetype'),
         url('fonts/adelle/adelle_light-webfont.svg#AdelleLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdelleItalic';
    src: url('fonts/adelle/adelle_italic-webfont.eot');
    src: url('fonts/adelle/adelle_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adelle/adelle_italic-webfont.woff') format('woff'),
         url('fonts/adelle/adelle_italic-webfont.ttf') format('truetype'),
         url('fonts/adelle/adelle_italic-webfont.svg#AdelleItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdelleHeavyItalic';
    src: url('fonts/adelle/adelle_heavyitalic-webfont.eot');
    src: url('fonts/adelle/adelle_heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adelle/adelle_heavyitalic-webfont.woff') format('woff'),
         url('fonts/adelle/adelle_heavyitalic-webfont.ttf') format('truetype'),
         url('fonts/adelle/adelle_heavyitalic-webfont.svg#AdelleHeavyItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdelleHeavy';
    src: url('fonts/adelle/adelle_heavy-webfont.eot');
    src: url('fonts/adelle/adelle_heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adelle/adelle_heavy-webfont.woff') format('woff'),
         url('fonts/adelle/adelle_heavy-webfont.ttf') format('truetype'),
         url('fonts/adelle/adelle_heavy-webfont.svg#AdelleHeavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdelleExtraBoldItalic';
    src: url('fonts/adelle/adelle_extrabolditalic-webfont.eot');
    src: url('fonts/adelle/adelle_extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adelle/adelle_extrabolditalic-webfont.woff') format('woff'),
         url('fonts/adelle/adelle_extrabolditalic-webfont.ttf') format('truetype'),
         url('fonts/adelle/adelle_extrabolditalic-webfont.svg#AdelleExtraBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdelleExtraBold';
    src: url('fonts/adelle/adelle_extrabold-webfont.eot');
    src: url('fonts/adelle/adelle_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adelle/adelle_extrabold-webfont.woff') format('woff'),
         url('fonts/adelle/adelle_extrabold-webfont.ttf') format('truetype'),
         url('fonts/adelle/adelle_extrabold-webfont.svg#AdelleExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdelleBoldItalic';
    src: url('fonts/adelle/adelle_bolditalic-webfont.eot');
    src: url('fonts/adelle/adelle_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adelle/adelle_bolditalic-webfont.woff') format('woff'),
         url('fonts/adelle/adelle_bolditalic-webfont.ttf') format('truetype'),
         url('fonts/adelle/adelle_bolditalic-webfont.svg#AdelleBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdelleBold';
    src: url('fonts/adelle/adelle_bold-webfont.eot');
    src: url('fonts/adelle/adelle_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adelle/adelle_bold-webfont.woff') format('woff'),
         url('fonts/adelle/adelle_bold-webfont.ttf') format('truetype'),
         url('fonts/adelle/adelle_bold-webfont.svg#AdelleBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
