/*!
    Theme Name: Union Exterminating
!*/

// CORE VARIABLES / MIXINS
@import "less/variables.less";
@import "less/mixins.less";

/* RESET / DEPENDENCIES
-------------------------------------------------- */
@import "less/normalize.less";
@import "less/print.less";
@import "less/glyphicons.less";

/* CORE CSS
-------------------------------------------------- */
@import "less/scaffolding.less";
@import "less/type.less";
@import "less/code.less";
@import "less/grid.less";
@import "less/tables.less";
@import "less/forms.less";
@import "less/buttons.less";

/* COMPONETS
-------------------------------------------------- */
@import "less/component-animations.less";
@import "less/dropdowns.less";
@import "less/button-groups.less";
@import "less/input-groups.less";
@import "less/navs.less";
@import "less/navbar.less";
@import "less/breadcrumbs.less";
@import "less/pagination.less";
@import "less/pager.less";
@import "less/labels.less";
@import "less/badges.less";
@import "less/jumbotron.less";
@import "less/thumbnails.less";
@import "less/alerts.less";
@import "less/progress-bars.less";
@import "less/media.less";
@import "less/list-group.less";
@import "less/panels.less";
@import "less/responsive-embed.less";
@import "less/wells.less";
@import "less/close.less";

/* JAVASCRIPT COMPONETS
-------------------------------------------------- */
@import "less/modals.less";
@import "less/tooltip.less";
@import "less/popovers.less";
@import "less/carousel.less";

/* UTILITY CLASSES
-------------------------------------------------- */
@import "less/utilities.less";
@import "less/responsive-utilities.less";
@import "less/wordpress.less";
@import "less/fonts.less";
@import "less/wordpress.less";
@import (less) "less/css/pushy.css";
/* VARIABLES
-------------------------------------------------- */

@font1Bo:'avenir_book';
@font1Bl:'avenir_black';
@font1He:'avenir_heavy';

@font2Bo:'AdelleRegular';
@font2Bl:;
@font2He:;

@primary:#2f3f4f;
@primary-light:lighten(@primary, 10%);
@primary-lightest:lighten(@primary, 60%);

@secondary:#ececec;
@secondary-dark:darken(@secondary, 20%);
@secondary-darkest:darken(@secondary, 55%);
@headline:#ffffff;

@site-footer:142px;


.set-p() {
    p {
        color:lighten(@primary, 15%);
        font-family:@font2Bo;
        font-size:20px;
        line-height:36px;
    }
    @media (max-width: 767px)  {
        p {
            font-size:16px;
            line-height:28px;
            margin:5px 0;
        }
    }
}
.set-h2() {
    h2 {
        color:@primary;
        margin:0 0 20px;
        font-family:@font1He;
    }
    @media (max-width:767px) {
        h2 {
            font-size:20px;
            margin:0 0 5px !important;
        }
    }
}

/* GLOBAL
-------------------------------------------------- */
body {
    background:@secondary;
}
@media (max-width:767px) {
    .res-break {
        display:none;
    }   
}

.navmenu-default, .navbar-default .navbar-offcanvas {
    background:darken(@primary, 5%) !important;
    border:0 !important;
    padding:20px;
    font-family:@font1Bl;
    text-transform:uppercase;
    font-size:18px;
    width:250px !important;
}
.navmenu-default .navmenu-nav>li>a:hover, 
.navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover, 
.navmenu-default .navmenu-nav>li>a:focus, 
.navbar-default .navbar-offcanvas .navmenu-nav>li>a:focus {
    color:@secondary-dark !important;
}
.navbar-toggle {
    margin:12px 15px 0 0;
    padding:0;
    border-radius:0;
    .icon-bar {
        background:@secondary;
        width:32px;
        height:4px;
    }
}
.navmenu {
    z-index: 1 !important;
}
.canvas {
    position: relative;
    left: 0;
    z-index: 2 !important;
    min-height: 100%;
    background: #fff;
}
@media (min-width: 768px) {
    .navbar-toggle {
        display: block !important;
        
    }
}
/* STICKY FOOTER
-------------------------------------------------- */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -@site-footer; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: @site-footer; 
}
.site-footer {
  background: @primary;
}


/* CLEARFIX
-------------------------------------------------- */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/* REGULAR HEADER
-------------------------------------------------- */
.header {
    background:@primary;
    .nav-bar {
        padding:30px 20px;
        .logo a{
            font-family:@font1He;
            font-size:20px;
            border:solid 2px @primary-lightest;
            padding:8px 13px;
            border-radius:2px;
            color:@primary-lightest;
            text-transform:uppercase;
            float:left;
        }
        .nav {
            float:right;
            ul {
                margin:0;
                padding:0;
                li {
                    display:inline-block;
                    margin-left:15px;
                    a {
                        display:block;
                        padding:5px 10px;
                        color:@primary-lightest;
                        font-family:@font1He;
                        text-transform:uppercase;
                        font-size:16px;
                    }
                }
            }
        }
    }
    .page-info {
        text-align:center;
        padding:75px 0 50px 0;
        h1 {
            font-size:48px;
            font-family:@font1Bl;
            color:@primary-lightest
        }
        p {
            color:@primary-lightest;
            font-family:@font2Bo;
            font-size:24px;
        }
    }
    @media (max-width:767px) {
        .page-info {
            padding:75px 10px 50px;
            h1 {
                font-size:36px;
            }
            p {
                font-size:20px;
            }
        }
    }
}

/* PAGE TEMPLATE HOME
-------------------------------------------------- */
.home-head {
    background:@primary;
    .nav-bar {
        padding:30px 20px;
        .logo a{
            font-family:@font1He;
            font-size:20px;
            border:solid 2px @primary-lightest;
            padding:8px 13px;
            border-radius:2px;
            color:@primary-lightest;
            text-transform:uppercase;
            float:left;
        }
        .nav {
            float:right;
            ul {
                margin:0;
                padding:0;
                li {
                    display:inline-block;
                    margin-left:15px;
                    a {
                        display:block;
                        padding:5px 10px;
                        color:@primary-lightest;
                        font-family:@font1He;
                        text-transform:uppercase;
                        font-size:16px;
                    }
                }
            }
        }
    }
    .callout {
        text-align:center;
        padding:200px 0 250px;
        h1 {
            font-family:@font1He;
            font-size:58px;
            line-height:80px;
            color:@primary-lightest;
        }
        p {
            font-family:@font2Bo;
            color:@primary-lightest;
            font-size:24px;
        }
    }
}

/* TEXTBAR
-------------------------------------------------- */
.text-bar {
    padding:50px 0;
    background:@secondary;
    text-align:center;
    p {
        font-family:@font2Bo;
        color:@secondary-darkest;
        font-size:24px;
        margin:0;
        padding:0;
    }
}

/* WORK PANEL
-------------------------------------------------- */
.work {
    display:table;
    padding:20px;
    background:#fff;

    article {
        margin-top:20px;
    }
    [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
        padding:50px;
    }
    @media (max-width:767px) {
        [class*="col-"] {
            float: none;
            display: block;
            vertical-align: top;
            padding:20px;
        }
        article:first-child {
            margin-top:0 !important;
        }
    }
    .col-md-7 {
        background:lighten(@primary, 50%);
        .set-h2();
        h2 {
            text-align:center;
        }
        img {
            max-width:100%;
            height:auto;
        }

    }
    .col-md-5 {
        background:lighten(@primary, 60%);
        .tagged {
            font-family:@font1He;
            color:@primary;
            text-transform:uppercase;
            font-size:16px;
            margin-top:20px;
        }
        .description {
            .set-h2();
            .set-p();
        }
        
    }
    
}
@media (max-width:767px) {
    .work {
        display:block;
    }
}
.work.home {
    padding:0 20px 20px;
}
@media (max-width:767px) {
    .work.home {
        padding:20px;
    }
}
/* BLOG ARCHIVES
-------------------------------------------------- */
.blog {
    padding:0 0 50px 0;
    background:@secondary;
    article {
        padding:50px 0 0 0;
        .col-md-3 {
            a {
                border:solid 3px #fff;
                display:block;
                img {
                    max-width:100%;
                    height:auto;
                }
            }
            .set-p();
            p {
                margin:5px 0;
            }
        }
        .col-md-2 {
            a {
                border:solid 3px #fff;
                display:block;
                img {
                    max-width:100%;
                    height:auto;
                }
            }
            .set-p();
            p {
                margin:5px 0;
            }
        }
        @media (max-width: 767px)  {
            .col-md-3 {
                display:none;
            }
        }
        .col-md-10 {
            .set-h2();
            .set-p();
        }
        .col-md-9 {
            .set-h2();
            .set-p();
        }
    }
}